@import url(http://fonts.googleapis.com/css?family=Monoton);
@import url(http://fonts.googleapis.com/css?family=Luckiest+Guy);
@import url(reset.css);

/*This set the purple background, and the font style and size*/
body {
    background-image: url(../img/purple.png);
    background-repeat: repeat;
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 18px;
    padding: 10px;
}

/*This established the spacing within the paragraphs*/
p {
	padding: 10px;
}

/*This put the titles in the middle, established the border, and size of font*/
.midTitle{
	text-align:center;
	font-size: 170%;
	margin: 0 auto;
	width: 50%;
	margin-top:10px;
	margin-bottom:10px;
	border: 3px solid #000;
	background-color: #CF81E8;
}

/*This placed the logo by the title*/
.logo {
	float:left;
	margin-right: 20px;
}

/*This established the font of the title, and the size*/
.title {
	font-family:'Monoton', sans-serif;
	font-size: 250%;
	color:#C79900;
	width: 36%;
	background-color: #39275B

}

/*This created the size of the section titles*/
.title2{
	padding:10px;
	background-color: #CF81E8;
	border-top: 3px solid #000;
	border-bottom: 3px solid #000;
	clear: both;
	font-size:150%

}

/*This creates the size and spacing for the titles within the sections*/
.title3{
	margin-bottom:10px;
	font-size: 120%;
}

/*This made the motto italic and increased the size*/
.motto {
	font-size: 120%;
	font-style: italic;
}

/*This made the yellow box where the text is */
.content-box {
	width: 80%;
	background-color: #FFF57C;
	margin: 0 auto;
	box-shadow: 2px 2px 6px #555;
}

/*This created the purple bar*/
nav ul {
	background-color: #CF81E8;
	border: 3px solid #000;
	border-radius:5px;
	margin-top: 10px;
}

/*This lined the pages up*/
nav li {
	display: inline-block;
}

/*This displayed the pages properly */
nav a {
	display: inline-block;
	padding: 10px;
	color:#000;
	font-weight:bold;
	font-size: 150%;
}

/*This lined the information on the home page, and spaced them apart. Also gave them borders to distinguish them*/
.position{
	background-color: #CF81E8;
	border: 3px solid #000;
	margin-top: 3%;
	text-align: center;
	width:40%

}
/*This creates the spacing */
dl{
	padding: 10px;
}

/*This set the font to italic */
dl dd{
	font-style: italic;
}

/*This adjusted the size and spacing */
dl dt{
	font-size: 150%;
	margin-top: 10px;
	margin-bottom:10px;
}

/*This got rid of the visited feature of a hyperlink */
dl a:link,
dl a:visited {
	text-decoration: none;
}

/*This made the hyperlink underlined when hovered */
dl a:hover{
	text-decoration: underline;
}

/*This made it so when hovering over them it doesn't underline*/
nav a:link,
nav a:visited {
	text-decoration: none;
}

/*This changed the color when hovered*/
nav a:hover {
	background-color: #FF9D45;
}

/*This adjusted the picture of the pizza */
.pizza {
	float:right;
	width: 50%;
	height:50%;
	margin-right: 20px;
}

/*This added in the border, color, and placement of the content */
.aboutContent {
	background-color: #CF81E8;
	border: 3px solid #000;
	border-top:none;
	float:right;
	margin-right: 10px;
	margin-bottom: 10px;
	width:45%;
}

/*This adjusted the positioning of the counter picture */
.counter {
	width: 100%;
	margin-top:-10px;
	margin-bottom:-2px;
}

/*This adjusted the positioning of the oven picture */
.oven {
	margin-left:20px;
	margin-top:5%;
	height:100%;
	width: 50%;
}

/*This adjusted the positioning and color in the menu */
.price {
	float:right;
	color: #E82B1F;
	margin-top:-20px;	
}

/*This adjusted the positioning of the phone icon */
.phone {
	float:left;
}

/*This adjusted the positioning of the icon */
.clock {
	float:left;
}

/*This adjusted the positioning of the icon */
.navigation {
	float:left;
}

/*This adjusted the positioning of the icon */
.chef {
	float:left;
	margin-left: 30px;
	margin-top: 10px;
}

/*This adjusted the positioning of the icon */
.wheel {
	float:left;
	margin-top: 5px;
	margin-left:30px;
}

/*This adjusted the positioning of the icon */
.hiring {
	width:100%;
	height:50%;
}

/*This adjusted the color, size, and positioning of the jobs */
.jobs{
	background-color: #CF81E8;
	border: 3px solid #000;
	width: 40%;
	text-align:center;
	margin-left:20px;
	padding:20px;
	margin-bottom:10px;
	margin-top: 10px;
	font-size: 150%;

}

/*This made the aside comments better positioned, and added color */
aside{
	float: right;
	padding: 20px;
	background-color: #B725E8;
	border: 1px dotted #CCC;
}

/*This is the footer, made the positioning, border, size */
footer {
    margin-top: 50px;
    padding-top: 10px;
    border-top: 1px solid #CCC;
    font-size: 80%;
    font-style: italic;
    clear: both;
}